.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switchbutton {
  margin-top: 1rem;
  background-color: blue;
  color: white;
}

.number {
  font-size: 50px;
}

.button__container {
  display: flex;
  justify-content: space-around;
}
